<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>

    
<form id= 'file-catcher' action="/fossie/" enctype="multipart/form-data" >
    {% csrf_token %}
       
    <input id = 'title' name="title" type="text"><br><br>
    <textarea rows="10" cols="50" id = 'description' name="description" type="text">
    </textarea>    
        <br><br>

    <input id = 'inputImage' name="image" type="file" multiple/>
        
    <br><br><br>
        <button type="submit">
            submit
        </button>
</form>
    

</body>
<script>
    
     
        var inputImage = document.getElementById('inputImage');
        var fileList = [];
        
        inputImage.addEventListener('change',function(e){
            for(var i =0;i<inputImage.files.length;i++){
                fileList.push(inputImage.files[i]);
                console.log('is it adding image');
            }
        })
      
        var fileCatcher = document.getElementById('file-catcher')
        fileCatcher.addEventListener('submit',function(e){
            e.preventDefault();
            fileList.forEach(function(file){
                
                sendFile(file);
                console.log("sending the files");
            });
        });
        
        sendFile = function(file){
           
            var title       =   document.getElementById('title').value
            var description =   document.getElementById('description').value
        
            var formData = new FormData();
            formData.append("image",file)
            formData.append("title",title)
            formData.append("description",description)


          
            jQuery.ajax({
                url: "",
                type: "POST",
                data:formData,
                processData: false,
                contentType: false,
                success:function(){
                    console.log("done successfully");
                }
            });
        };
    
        </script>
</html>
